* {
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: column-reverse;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 180px;
  padding: 1rem;
  background-image: url(./lib/images/bg_mv.png);
  background-size: cover;
}