.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.7;
}

.h1,
.h2,
h1,
h2 {
  @include media-breakpoint-down(md) {
    font-size: $font-size-lg;
  }
}

.h3,
h3 {
  @include media-breakpoint-down(md) {
    font-size: $font-size-lg*0.7;
  }
}

.h4,
.h5,
h4,
h5 {
  @include media-breakpoint-down(md) {
    font-size: $font-size-base;
  }
}

.jumbotron {
  padding: $jumbotron-padding 0;
  margin: 0;
  border-radius: 0;

  &-top {
    background: url("../images/bg_mv.png") no-repeat center center;
    background-size: cover;

    .h1 {
      line-height: 1.5;
    }

    p {
      line-height: 2;
      @include media-breakpoint-down(md) {
        font-size: $font-size-base;
      }
    }
  }

  &-seminar {
    background: url("../images/bg_sample.png") no-repeat center center;
    background-size: cover;
  }

  &-news {
    background: url("../images/bg_sample.png") no-repeat center center;
    background-size: cover;
  }

  &-category {
    padding: $jumbotron-padding / 2 0;
  }
  @include media-breakpoint-down(sm) {
    padding: $jumbotron-padding / 2 0;
  }
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(3, 15, 54, 1)' stroke-width='2' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.card {
  border: 0;
}

.list-group-flush {
  .list-group-item {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: calc(50% - 3px);
      right: 0;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      width: 5px;
      height: 5px;
      border-top: solid 1px $dark-2;
      border-right: solid 1px $dark-2;
      transform: rotate(45deg);
      transition: 0.2s;
    }
  }
}