/*フォント周り*/
$font-family-sans-serif: 'Noto Sans JP', sans-serif;
$font-size-base: 0.875rem;
$font-size-lg: ($font-size-base*2);
/*色変更*/
$body-color: #4E5670;
$body-bg: #E5E5E5;
$body-bg-2: #fafafa;
$body-bg-3: #f5f5f5;
$primary: #FF490D;
$primary-2: #FF725C;
$dark: #030F36;
$dark-2: #2E4369;
$success: #0EC2A1;
$secondary: #CCCCCC;
$light: #4E5670;
/*Jumbotron*/
$jumbotron-padding: $font-size-base*10;
$jumbotron-margin: 0;
$jumbotron-bg: #f0f4f5;
/*Card*/
$card-spacer-y: 2rem;
$card-spacer-x: 1.7rem;
$card-border-radius: 8px;