// フォント周り
$font-family-sans-serif: 'Noto Sans JP', sans-serif;
$font-size-base: .9rem;

// 色変更
$body-color: #4E5670;
$body-bg: #E5E5E5;
$primary: #FF490D;
$dark: #030F36;
$success: #0EC2A1;
$secondary: #CCCCCC;
// $info: ;
// $warning: ;
// $danger: ;
// $light: ;

// Jumbotron
$jumbotron-padding: 4rem;
$jumbotron-bg: #f0f4f5;