// フォント周り
$font-family-sans-serif: 'Noto Sans JP', sans-serif;
$font-size-base: .9rem;
$font-size-lg: 1.5rem;

// 色変更
$body-color: #4E5670;
$body-bg: #E5E5E5;
$primary: #FF490D;
$dark: #030F36;
$success: #0EC2A1;
$secondary: #CCCCCC;
// $info: ;
// $warning: ;
// $danger: ;
$light: #4E5670;

// Jumbotron
$jumbotron-padding: 20rem;
$jumbotron-margin: 0;
$jumbotron-bg: #f0f4f5;
// Card
$card-spacer-y: 2rem;
$card-spacer-x: 1.7rem;
$card-border-radius: 8px;
