// fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700');
// Custom bootstrap
@import "custom";
// bootstrap
@import "~bootstrap/scss/bootstrap";
// Custom Style
@import "custom_style";